.bill-section {
    width: 100%;
    
    .bill-section-cart {
        .bill-shipment {
            height: 260px;
            margin-bottom: 40px;
            
            &.no-perfume-selected {
                background-image: url(https://cdn.scentbird.com/assets/content/payment-page/blackcase-9f54479f648ceda1e1faabe906d19f3d.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 50%;
            }
        }

        .bill-table {
            width: 100%;
            
            &.bordered {
                tr {
                    > td {
                        padding-bottom: 10px;
                        
                        &.table-item {
                            font-size: 14px;
                        }
                        &.table-price {
                            text-align: right;
                            text-transform: uppercase;
                        
                            >.cb {
                                margin-left: 10px;
                            }
                        }
                    }
                    
                    &:nth-child(1) {
                        > td {
                            border-top: 1px solid #E6E6E6;
                            padding-top: 20px;
                        }
                    }
                    &.table-total {
                        > td {
                            border-top: 1px solid #E6E6E6;
                            text-transform: uppercase;
                            padding-top: 20px;
                            font-size: 16px;
                        }
                    }
                    &.table-discount {
                        > td.table-price {
                            color: #299500;
                        }
                    }
                    &.table-credit {
                        > td {
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }

        .bill-coupon {
            font-size: 16px;
            position: relative;
            height: 50px;
            
            >.text {
                top: 0;
                width: 100%;
                background: #fff;
                position: absolute;
                padding: 14px 0;
                
                .invite-mark {
                    color: #FF408E;
                    cursor: pointer;
                    border-bottom: 1px dashed #979797;
                    
                    &:hover {
                        border-bottom: 1px solid #979797;
                    }
                }
            }

            &.active {
                >.text {
                    visibility: hidden;
                    opacity: 0;
                }
                >.coupon-form {
                    visibility: visible;
                    opacity: 1;
                }
            }
            >.coupon-form {
                width: 100%;
                position: absolute;
                visibility: hidden;
                opacity: 0;
                top: 0;
                -webkit-transition: .35s ease;
                transition: .35s ease;
                
                label {
                    margin: 0;
                    
                    input {
                        border-right: 0;
                    }
                }
                button {
                    height: 50px;
                    width: 140px;
                    background: #ff408e;
                    border: 0;
                    color: #fff;
                    text-align: center;
                    text-transform: uppercase;
                    outline: none;
                }
            }
        }
    }
}

.bill-rules {
    display: table;
    width: 100%;
    padding-top: 30px;
    font-size: 14px;
    
    span {
        display: table-header-group;
    }
    img {
        max-width: 100%;
        margin: 30px 0 10px;
        display: table-footer-group;
    }
}

/*
 *               #####  ###   ### 
 *       #       #  #  #   # #   #
 *         #       #   #     #   #
 *          #     #    ####   ### 
 *         #      #    #   # #   #
 *       #        #    #   # #   #
 *                #     ###   ### 
 */
@media (min-width: 768px) {
    .bill-section {
        .bill-section-cart {
            padding: 45px 20px;
            border: 1px solid #E6E6E6;
            
            >.bill-shipment,
            >.bill-table {
                width: 50%;
                float: left;
                margin: 0;
            }
            >.bill-coupon {
                width: 50%;
                left: 50%;    
            }
        }
    }
    .bill-rules {
        img {
            display: block;
            float: left;
            width: 45%;
            margin: 0;
        }
        span {
            display: block;
            float: left;
            width: 55%;
            padding-left: 30px;
        }
    }
}


/*
 *                 #    ###  #      ### 
 *       #        ##   #   # #   # #   #
 *         #     # #   #   # #   # #   #
 *          #      #   #   # #   # #   #
 *         #       #   #   # ##### #   #
 *       #         #   #   #     # #   #
 *               #####  ###      #  ### 
 */

@media (min-width: 1040px) {
    .bill-section {
        width: 330px;
        float: left;
        
        .bill-section-cart {
            >.bill-shipment,
            >.bill-table {
                width: 100%;
                float: none;
            }
            >.bill-shipment {
                margin-bottom: 40px;
            }
            >.bill-coupon {
                width: 100%;
                left: 0;    
            }
        }
    }
    .bill-rules {
        img,
        span {
            width: 100%;
        }
        span {
            padding: 30px 0 0;
        }
    }
}