/* latin */
@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 400;
    src: local('ProximaNovaRegular'),
    url('./../fonts/marksimonson-proximanovaregular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 300;
    src: local('ProximaNovaLight'),
    url('./../fonts/proximanova-light.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 600;
    src: local('ProximaNovaSemibold'),
    url('./../fonts/proximanova-semibold-webfont.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'ProximaNova';
    font-style: italic;
    font-weight: 600;
    src: local('ProximaNovaSemibold'),
    url('./../fonts/proxima_nova semibold_italic.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}