.forms-section {
    width:100%;
    
    a {
        text-decoration: underline;
        color: #FF408E;
        cursor: pointer;
        
        &:hover {
            color: #d63375;
        }
    }
    
    .title {
        display: block;
        margin: 30px 0 15px;
        line-height: 35px;
        font-size: 24px;
        color: #000;
        text-align: center
    }
    .warning {
        text-align: center;
        color: #FF408E;
        font-size: 12px;
        margin-top: 20px;
    }
    .text-question {
        text-align: center;
        color: #9B9B9B;
        font-size: 14px;
        margin-top: 20px;
    }

    label.cb {
        margin-right: 10px;
    }
    label.payment-text {
        height: 16px;
        line-height: 16px;
    }

    .mf {
        width: 100%;
        margin: 0 auto;
        font-size: 24px;
        margin-bottom: 30px;
        
        .male,
        .female {
            background-size: contain;
            background-repeat: no-repeat;
            width: 60px;
            height: 80px;
            display: block;
            margin: 0 auto;
            cursor: pointer;
            position: relative;
            margin-bottom: 20px;
            
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity:0;
                -webkit-transition: all .25s ease;
                background-size: contain;
                background-repeat: no-repeat;
            }
            &:after {
                content: '';
                position: absolute;
                right: 10px;
                bottom: 10px;
                width: 0px;
                height: 0px;
                -webkit-transition: all .25s ease;
                background-size: contain;
                background-image: url(https://cdn.scentbird.com/assets/components/GenderImages/check-male-9c9887ce558e2be446181af79e7bc493.png);
            }

            &.picked {
                &:after {
                    right: 0px;
                    bottom: 0px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .male {
            background-image: url(https://cdn.scentbird.com/assets/components/GenderImages/not-picked-male-bad2a1a4e660cab4aff25e326858fd29.svg);
            &:before {
                background-image: url(https://cdn.scentbird.com/assets/components/GenderImages/picked-male-abc5ea44e1ebc153df168b8d29325bc2.svg);
            }
            &:hover,
            &.picked {
                &:before {
                    opacity: 1;
                }
            }
        }
        .female {
            background-image: url(https://cdn.scentbird.com/assets/components/GenderImages/not-picked-female-05f20422c30bd701292bf03f44d8c8a5.svg);
            
            &:before {
                background-image: url(https://cdn.scentbird.com/assets/components/GenderImages/picked-female-a3323564639773e921709ec59292f113.svg);
            }
            &:hover,
            &.picked {
                &:before {
                    opacity: 1;
                }
            }
            &.picked {
                span {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    .login-form {
        .form-input {
            background: #FFF;
        }
    }

    /*
     *  ###                               
     * #   # #####  ###  #   # ####  #####
     * #     #     #   # #   # #   # #    
     *  ###  ####  #     #   # #   # #### 
     *     # #     #     #   # ####  #    
     * #   # #     #   # #   # #  #  #    
     *  ###  #####  ###   ###  #   # #####
     */

    .secure {
        border: 1px solid #E6E6E6;
        background: #FAFAFA;
        padding: 27px 30px;

        >.cc-row {
            display: block;
        }

        >.text {
            position: relative;
            padding-bottom: 20px;
            
            &:before {
                content: '';
                background-image: url(https://cdn.scentbird.com/assets/subscription/secure-payment-icon@2x-7dbc54aa0a5cb5889697f58e685ea4d6.png);
                background-size: cover;
                position: absolute;
                left: 0;
                top: -8px;
                width: 29px;
                height: 35px;
            }
            > span {
                padding-left: 40px;
                color: #299501;
                text-align: left;
                margin: 0 0 21px;
                line-height: 21px;
                display: block;
            }
            
            >.icons {
                float: none;
                background: 0 0 no-repeat;
                background-image: url(https://cdn.scentbird.com/assets/subscription/icon-cc-all@2x-da3077a4a8e635c7e3ca4df2cb87c1df.png);
                background-size: contain;
                width: 144px;
                height: 21px;
            }
        }

        label {
            &.cvc {
                .payment-help {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 35px;
                    cursor: help;
                    background: 50% 50% no-repeat url(https://cdn.scentbird.com/assets/content/payment-page/help-63f77619df23c7e79dacfb87e2fb4687.svg);
                    border: none;
                    outline: none;
                    margin: -15px 0;
                    
                    &:hover {
                        >.payment-tooltip {
                            opacity: 1;
                            visibility: visible;
                            bottom: 90%;
                        }
                    }
                    
                    >.payment-tooltip {
                        display: block;
                        position: absolute;
                        right: 50%;
                        bottom: 70%;
                        cursor: default;
                        -webkit-transition: .2s ease;
                        transition: .2s ease;
                        opacity: 0;
                        visibility: hidden;
                        z-index: 0;
                        margin-right: -145px;
                        
                        &:before {
                            content: '';
                            right: -4px;
                            bottom: -15px;
                            position: absolute;
                            background: no-repeat right url(https://cdn.scentbird.com/assets/content/payment-page/tooltipicon-4f1182a2da4b4be943c8743e5b9ca170.png);
                            width: 100%;
                            height: 16px;
                            opacity: 0;
                        }
                        .tooltip-content {
                            width: 290px;
                            background: #fff;
                            border: 1px solid #e6e6e6;
                            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
                            display: table;
                            padding: 40px 20px 20px;
                            line-height: normal;
                            
                            > h5 {
                                margin: 0 0 15px;
                                font-size: 24px;
                                color: #000;
                                font-weight: 600;
                            }
                            > p {
                                margin: 0 0 20px;
                                font-size: 14px;
                                color: #4a4a4a;
                                font-weight: 400;
                                text-align: center;
                            }
                            > .tooltip-mc,
                            > .tooltip-ae {
                                width: 100%;
                                padding: 0;
                                border-right: 0;
                                padding: 15px 0;
                                
                                > h6 {
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    margin: 0;
                                    margin-bottom: 10px;
                                    font-size: 16px;
                                    font-weight: 600;
                                    text-align: left;
                                }
                                > p {
                                    padding: 160px 0 0;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    background-position: top;
                                    font-weight: 400;
                                    color: #9b9b9b;
                                }
                            }
                            > .tooltip-mc {
                                padding-right: 0;
                                border-bottom: 1px solid #979797;
                                
                                > h6 {
                                    padding: 6px 0 6px 100px;
                                    background-image: url(https://cdn.scentbird.com/assets/content/payment-page/visa-mastercard2@2x-36ed6d898c4e4cc62858bfcc3fac28d4.png);
                                }
                                > p {
                                    background-image: url(https://cdn.scentbird.com/assets/content/payment-page/card-vmc@2x-5b8e38d18e4c458bd82a7b7c76ce0cfb.png);
                                }
                            }
                            > .tooltip-ae {
                                padding-left: 0;
                                
                                > h6 {
                                    padding: 6px 0 6px 55px;
                                    background-image: url(https://cdn.scentbird.com/assets/content/payment-page/visa-mastercard@2x-b316380ff31b63488710c9b566258b08.png);
                                }
                                > p {
                                    background-image: url(https://cdn.scentbird.com/assets/content/payment-page/card-a@2x-1e524e6ebc717e8e5c0648bd252662ab.png);
                                }
                            }
                        }
                    }
                }
            }
            &.empty {
                > .form-input,
                > .form-select {
                    color: #9B9B9B;
                    font-weight: 300;
                }
            }
            > .form-input,
            > .form-select {
                background: #fff;
                font-weight: 400;
                color: #000;
            }
            &.payment-card {
                &:after {
                    display: block;
                    content: '';
                    width: 13px;
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    margin: -10px 0 0;
                    background: 50% 50% no-repeat url(https://cdn.scentbird.com/assets/content/payment-page/lock-605af7e1160162521aad41271e3cecc9.svg);
                }
                &.success {
                    &:before {
                        display: none;
                    }
                }
                &.empty {
                    &:after {
                        background-image: url(https://cdn.scentbird.com/assets/content/payment-page/lock-gray-9c42ca1d52a2a2f233d555aa65bcb347.svg);
                    }
                }
            }
        }
    }

    .buttons {
        float: right;
        margin-top: 30px;
        width: 100%;

        .back {
            display: none;
            padding: 15px 30px;
            text-decoration: underline;
            color: rgba(0,0,0,.4);
            
            &:hover {
                color: rgba(0,0,0,.8);
            }
        }
        .button {
            padding: 15px;
            background-color: #FF408E;
            color: #fff;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: right 50px top 50%;
            -webkit-transition: background-position 0.15s cubic-bezier(0.32, 0.725, 0.545, 1.525);
            transition: background-position 0.15s cubic-bezier(0.32, 0.725, 0.545, 1.525);
            text-decoration: none;
            width: 100%;
            text-align: center;
            background-image: none;
            
            &:hover {
                background-position: right 40px top 50%;
                background-color: #d63375;
            }
        }
    }
}

/*
 * #####                  
 * #      ###  ####  #   #
 * #     #   # #   # ## ##
 * ####  #   # #   # # # #
 * #     #   # ####  #   #
 * #     #   # #  #  #   #
 * #      ###  #   # #   #
 */

form {
    label:not(.cb) {
        margin: 0 0 20px;
        height: 50px;
        width: 100%;
        line-height: 50px;
        position: relative;

        &.disabled {
            text-transform: uppercase;
            * {
                cursor: not-allowed;
            }
        }
        &.empty {
            >.form-label {
                display: block;
            }
        }
        &.success {
            color: #000;
            
            &:before {
                content: '';
                width: 20px;
                height: 20px;
                position: absolute;
                margin-top: -10px;
                right: 10px;
                top: 50%;
                background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48cGF0aCBkPSJNMzkuMzYzLDc5TDE2LDU1LjQ5bDExLjM0Ny0xMS40MTlMMzkuNjk0LDU2LjQ5TDcyLjk4MywyM0w4NCwzNC4wODVMMzkuMzYzLDc5eiIgZmlsbD0iI0ZGNDU4RiIvPjwvZz48L3N2Zz4=);
            }
            &.cvc {
                &:before {
                    right: 50px;
                }
            }
            &.sel {
                &:before {
                    display: none;
                }
                .select-icon {
                    border-top: 5px solid #ff408e;
                }
            }

            >.form-input {
                padding-right: 35px;
            }
        }
        &.error {
            >.form-input,
            >.form-select {
                border: 2px solid #FF0048;
                border-color: #FF0048 !important;
            }
            >.form-error {
                color: #FF0048;
                position: absolute;
                margin: 0;
                bottom: -20px;
                height: 20px;
                font-size: 12px;
                line-height: 20px;
                font-weight: 400;
            }
        }
        &.text {
            font-weight: 400;
            text-align: center;
            
            &.flex-half {
                width: 51.5%;
                display: none;
            }
        }
        >.form-input,
        >.form-select {
            -webkit-appearance: none;
            box-sizing: border-box;
            display: block;
            width: 100%;
            height: 100%;
            padding: 0 15px;
            line-height: 100%;
            color: #000;
            font-size: 18px;
            border: 1px solid #e6e6e6;
            outline: none;
            box-shadow: none;
            background: #FAFAFA;
            -webkit-transition: all .25s linear;
            transition: all .25s linear;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'ProximaNova', 'Trebuchet MS', Verdana, sans-serif;
            font-style: normal;
            font-weight: 400;
            border-radius: 0;

            &:focus {
                border-color: rgba(245,69,243,.6);
                background: #fff;
                
                +.form-label {
                    font-size: 14px;
                    top: 0;
                    z-index: 0;
                    
                    &:before {
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: #fff;
                        content: '';
                        left: 0;
                        top: 50%;
                        z-index: -1;
                    }

                    +.form-error {
                        opacity: 0
                    }
                }
            }
        }
        >.select-icon {
            border: 5px solid transparent;
            border-top: 5px solid #D8D8D8;
            right: 15px;
            top: 50%;
            margin-top: -3px;
            position: absolute;
        }
        >.form-label {
            display: none;
            background: transparent;
            font-size: 18px;
            position: absolute;
            margin: 0 auto;
            height: 18px;
            line-height: 18px;
            top: 50%;
            left: 10px;
            margin-top: -9px;
            color: #9B9B9B;
            padding: 0 5px;
            font-weight: 100;
            -webkit-transition: .25s linear;
            transition: .25s linear;
        }
    }
}

/*
 *               #####  ###   ### 
 *       #       #  #  #   # #   #
 *         #       #   #     #   #
 *          #     #    ####   ### 
 *         #      #    #   # #   #
 *       #        #    #   # #   #
 *                #     ###   ### 
 */
@media (min-width: 768px) {
    .forms-section {
        .mf {
            width: 50%;
        }
        .secure {
            > .cc-row {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
            }
            > .text {
                > span {
                    margin: 0 0 6px;
                    display: inline-block;
                }
                > .icons {
                    float: right;
                }
            }
        }
        .buttons {
            width: auto;
            
            .button {
                width: auto;
                padding: 15px 100px 15px 60px;
                text-align: center;
                background-image: url(https://cdn.scentbird.com/assets/source/icons/right-arrow-9630d8eee84f98a2c930d78552991920.svg);
            }
            .back {
                display: inline-block;
            }
        }
    }
    form {
        .payment-flex {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            line-height: 0;
            
            .flex-sixty {
                width: 65.7%;
            }
            .flex-fty {
                width: 54%;
            }
            .flex-half {
                width: 48.5%;
            }
            .flex-thrd {
                width: 31.3%;
                
                &.cvc {
                    padding: 0 35px 0 0;
                    
                    > .payment-help {
                        > .payment-tooltip {
                            margin-right: 0;
                            
                            &:before {
                                opacity: 1
                            }
                            
                            .tooltip-content {
                                width: 630px;
                                padding: 20px 40px;
                                
                                > .tooltip-mc,
                                > .tooltip-ae {
                                    width: 50%;
                                    float: left;
                                    padding: 0;
                                }
                                > .tooltip-mc {
                                    border-bottom: 0;
                                    border-right: 1px solid #979797;
                                    padding-right: 30px;
                                }
                                > .tooltip-ae {
                                    padding-left: 30px;
                                }
                            }
                        }
                    }
                }
            }
            .flex-twnt {
                width: 20%;
            }
        }
        label:not(.cb).text.flex-half {
            display: block
        }
    }
}

/*
 *                 #    ###  #      ### 
 *       #        ##   #   # #   # #   #
 *         #     # #   #   # #   # #   #
 *          #      #   #   # #   # #   #
 *         #       #   #   # ##### #   #
 *       #         #   #   #     # #   #
 *               #####  ###      #  ### 
 */

@media (min-width: 1040px) {
    .forms-section {
        width: 650px;
        float: left;
        margin-left: 60px;
        margin-bottom: 30px;
        
        .title {
            text-align: left;
        }
    }
}