.container {
    padding: 0;
    
    .payment-page {
        padding: 0 3%;
    }
}
.mf,
.coupon-form,
.secure {
    .payment-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        line-height: 0;
    }
}
.secure {
    .payment-flex {
        .flex-twnt {
            width: 48.5%;
        }
        .flex-fty {
            display: none;
        }
    }
    .cvc {
          width: 70%;
          padding-right: 35px;
    }
    .payment-card {
        width: 100%;
    }
}


/*
 *               #####  ###   ### 
 *       #       #  #  #   # #   #
 *         #       #   #     #   #
 *          #     #    ####   ### 
 *         #      #    #   # #   #
 *       #        #    #   # #   #
 *                #     ###   ### 
 */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/*
 *                 #    ###  #      ### 
 *       #        ##   #   # #   # #   #
 *         #     # #   #   # #   # #   #
 *          #      #   #   # #   # #   #
 *         #       #   #   # ##### #   #
 *       #         #   #   #     # #   #
 *               #####  ###      #  ### 
 */
@media (min-width: 1040px) {
    .container {
        width: 1040px;
        .payment-page {
            padding: 0;
        }
    }
}