@import "./fonts.css";
@import "./layout.less";
@import "./billSection.less";
@import "./formsSection.less";
 
body {
    font-family: "ProximaNova", sans-serif;
}

.checkbox {
    display: none;
    
    &:checked + label.cb {
        &:after {
            content: '';
            background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48cGF0aCBkPSJNMzkuMzYzLDc5TDE2LDU1LjQ5bDExLjM0Ny0xMS40MTlMMzkuNjk0LDU2LjQ5TDcyLjk4MywyM0w4NCwzNC4wODVMMzkuMzYzLDc5eiIgZmlsbD0iI2ZmZiIvPjwvZz48L3N2Zz4=);
            width: 16px;
            height: 16px;
            position: absolute;
            top: -1px;
            left: -1px;
            color: #fff;
        }
        &.white:after {
            background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Zz48cGF0aCBkPSJNMzkuMzYzLDc5TDE2LDU1LjQ5bDExLjM0Ny0xMS40MTlMMzkuNjk0LDU2LjQ5TDcyLjk4MywyM0w4NCwzNC4wODVMMzkuMzYzLDc5eiIgZmlsbD0iI0ZGNDU4RiIvPjwvZz48L3N2Zz4=);
            top: -5px;
            width: 21px;
            height: 21px;
        }
    }
    & + label.cb {
        background-color: #FF6BA6;
        border: 1px solid #FF458F;
        padding: 7px;
        display: inline-block;
        position: relative;
        margin-bottom: -3px;
        
        &.white {
            background-color: #FFF;
            border: 1px solid #979797;
            border-radius: 3px;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
        }
    }
}

.logo-section {
    .payment-logo {
        display: block;
        height: 40px;
        width: 139px;
        margin: 18px 0 43px;
        background: 50% 50% no-repeat url(https://cdn.scentbird.com/assets/logo/scentbird_logo_black_men@2x-c0531d33800fec361b979cbc87068f64.png);
        background-size: contain;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
}

.page-title {
    text-align: center;
    
    .forms-h {
        text-transform: uppercase;
        margin: -6px 0 0;
        font-size: 36px;
        color: #000;
        text-transform: uppercase;
        font-family: 'ProximaNova', 'Trebuchet MS', Verdana, sans-serif;
        font-style: normal;
        font-weight: 400;
    }
    .highlight {
        margin-bottom: 40px;
    }
}
.highlight {
    color: #FF408E;
    font-size: 16px;
}
 
/*
 *               #####  ###   ### 
 *       #       #  #  #   # #   #
 *         #       #   #     #   #
 *          #     #    ####   ### 
 *         #      #    #   # #   #
 *       #        #    #   # #   #
 *                #     ###   ### 
 */
@media (min-width: 768px) {
    .page-title {
        text-align: left;
        .highlight {
            margin-bottom: 30px;
        }
    }
}
